/*!
 * Start Bootstrap - Portfolio Item HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

/* ==================
   POP-UP MASK GLOBAL
   ================== */

.mask {
    position:fixed;
    z-index:9000;
    background-color:#000;
    display:none;
	margin-top: -100px;
}

.window {
    z-index: 9990;
    position: fixed;
}

.boxes .window {
    position:fixed;
    z-index:9990;
    padding:20px;
}

.boxes .dialog {
    width:600px;
    height:300px;
}

.openicon {
	max-height:100%; 
	max-width:100%;
	cursor: pointer;
}